/* Navbar Logo Animations */
@keyframes typing {
    0% { margin-left: 0; width: 70px; }
    10% { border-left: 2px solid chartreuse; }
    98% { border-left: 2px solid chartreuse; }
    100% { margin-left: 35px; width: 0px; }
}

.navbar-brand {
    margin-right: 35px;
    font-size: 30px;
    font-family: 'Script'; /* Apply the cursive font */
}

.navbar-brand::before {
    position: absolute;
    content: "";
    display: block;
    height: 35px; /* Adjust height if necessary */
    background-color: #38422B;
    animation: typing 0.6s steps(4) forwards; /* Adding delay after each iteration */
}

/* -- ANIMATION END -- */

/* Fancy Horizontal Bar */
hr {
    width: 80%;
    padding: 1px;
    border-radius: 10px;
    background-color: #697157;
    justify-content: center;
    /*background-color: rgba(128, 128, 128, 0.488); <- old*/
}

/* Some future work
h1::after{
    content: "";
    justify-content: center;
    display: block;
    width: 100%;
    height: 3px;
    padding: 1px;
    border-radius: 5px;
    background-color: #697157;
}*/

/* Search Bar Styling */
.searchComponent {
    padding: 0;
}

.searchBox {
    padding: 10px 15px 10px 15px;
    border: none;
    background-color: #F6F6DB;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: black;
    font-weight: 500;
}

.searchBtn {
    color: white;
    background-color: #9AA581;
    border: none;
    text-align: center;
    padding: 10px 15px 10px 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: none;
    cursor: pointer;
    transition: 0.5s;
}

.searchBtn:hover{
    border-radius: 1px;
    background-color: #697157;
    color: rgb(34, 184, 56);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* -- END SEARCH BAR STYLING -- */

/* These are the nav-link's style */
li{
    padding: 4px 15px 4px 15px;
    transition: 0.5s;
    border-radius: 5px;
    margin: 5px 0px 5px 5px;
}

/* The style for the login nav items */
#loginnav{
  color: white;
}
#loginnav:hover, #loginnav:active{
  color: white;
}

#tab-login active{
  background-color: #6E7753;
}

/* Style for the nav items other than the login nav */
li:not(#loginnav):hover, li:not(#loginnav).isActive, .lactive {
    color: #CCD5C0;
    background-color: #6E7753;
    border-radius: 5px;
}
/* -- END NAV-LINKS STYLING */

/* CONTACT & ABOUT PAGE */
.indented-paragraph {
    text-indent: 15px; 
    font-family: 'Georgia, serif';
    margin-left: 20px; /* Add left margin to each paragraph */
    margin-right: 20px; /* Add right margin to each paragraph to balance the text */
    margin-bottom: 15px; /* Add space between paragraphs */
}

.contactInput {
    width: 100%;
    padding: 8px; /* Reduced padding */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px; /* Reduced margin */
    margin-bottom: 8px; /* Reduced margin */
    resize: vertical;
    font-size: 14px; /* Reduced font size */
  }

.submitButton {
    background-color: #9AA581;
    color: white;
    padding: 8px 16px; /* Correct syntax for padding */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; /* Correct syntax for font size */
}

.submitButton:hover {
    background-color: #697157; /* Correct syntax for hover background color */
}
/* -- END CONTACT PAGE STYLING -- */
  
/* Carousel Title Animation-  not adding just for fun*/

@keyframes titletyping {
  from { width: 0; }
  to { width: 100%; }
}
.carouseltitle {
  overflow: hidden; 
  white-space: nowrap; 
  border-right: 4px solid;
  animation: titletyping 4s steps(20, end) infinite;
  text-align: center;
  color: ghostwhite;
  font-size: 4vw; /* Responsive font size */
  font-family: Arial, sans-serif;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1vw; /* Responsive padding */
  border-radius: 1vw; /* Responsive border radius */
}

/* -- END Carousel Title -- */

/* Links hover colors */
.link { color: #13703dcc; } /* address colors class */
.link:hover { color: #aee745; } /* address colors hover class */

.linkweb { color: #be8417ea; } /* websites colors class */
.linkweb:hover { color: #7a641a; } /* websites colors hover class */

a[href^="tel:"] {
  color: rgba(38, 106, 146, 0.815);
  text-decoration: underline;
}
a[href^="tel:"]:hover {
  color: #2fcfdab4;
}

/* Links hover colors END */

/* Card Layout Styles */

.card-resources{
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    justify-content: space-around;
    background-color: rgba(47, 77, 6, 0.938);
}

.card-container {
    background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00MjItMDQ3LWtxOTJ3eDl5LmpwZw.jpg'); /* URL of the background image */
    background-repeat: no-repeat;
    background-size: cover;
    perspective: 1000px;
    position: relative;
    width: calc(35% - 38px); /* Adjust the width as needed */
    height: 720px; /* Adjust the height as needed */
    cursor: pointer;
    margin: 5px; /* Add margin to space out the cards */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

  .cardR {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.8s;
    border-radius: 10px;
  }
  
  .card-front {
    color: #481F01;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    font-size: 2.5rem; /* Increased font size */
    font-family: Times, cursive;
    line-height: 1.5;
    padding: 8px;
    text-align: center;
    border-radius: 10px; /* Optional: Add border radius for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for a 3D effect */
}
  
  .card-back {
    background-image: url('https://marketplace.canva.com/EAFJBHqvlTo/1/0/1131w/canva-cream-floral-page-border-EXzZHJEaCys.jpg'); /* URL of the background image */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ECFADC;
    transform: rotateY(180deg);
    border-radius: 10px;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 0.9rem; /* Reduce font size for smaller screens */
    font-family: 'Times';
    line-height: 1.3; /* Adjust line height for smaller screens */
    padding-left: 40px; /* Reduce padding for smaller screens */
    padding-right: 30px;
    text-align: left;
    }
  

  .card-container.flip .card-front {
    transform: rotateY(180deg);
  }
  
  .card-container.flip .card-back {
    transform: rotateY(0deg);
  }   
 @media only screen and (max-width: 768px) {
    .card-container {
      width: calc(50% - 20px); /* Adjust width for smaller screens */
    }
  
    .card-front,
    .card-back {
      display: flex; 
      justify-content: center;
      align-items: center;
      font-size: 0.6rem; /* Reduce font size for smaller screens */
      line-height: 1.3; /* Adjust line height for smaller screens */
      padding-left: 30px; /* Reduce padding for smaller screens */
    }
  }
  
  @media only screen and (max-width: 480px) {
    .card-container {
      width: calc(100% - 20px); /* Adjust width for even smaller screens */
    }
  
    .card-front,
    .card-back {
      display: flex; 
      justify-content: center;
      align-items: center;
      font-size: 0.84rem; /* Further reduce font size for very small screens */
      line-height: 1.2; /* Further adjust line height for very small screens */
      padding-left: 30px; /* Further reduce padding for very small screens */
    }
  }

  /* Two column list */

  .two-column-list ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    column-gap: 10px; /* Adjust the gap between columns */
    list-style-type: disc;
  }
  
  .two-column-list li {
    margin-bottom: 10px; /* Add space between items */
    list-style-position: inside; /* Ensure bullet points are inside the columns */
  }
  
  @media only screen and (max-width: 600px) {
    .two-column-list li {
      columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .two-column-list li {
      columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
    }
  }
  /* End Two column list */

/* -- END CARD STYLINGS -- */

/* -- Font styles START -- */
@font-face {
  font-family: 'Kalam';
  src: url('./fonts/Kalam-Bold.ttf') format('ttf'),
       url('./fonts/Kalam-Light.ttf') format('ttf'),
       url('./fonts/Kalam-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Arial';
  font-size: 22px;
}
/* -- Font styles END -- */

/* -- Pop up survery START -- */

.survey-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.survey-popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.close-btn {
  position: absolute;
  width: 15%;
  top: 10px;
  right: 10px;
  font-size: .5rem;
  cursor: pointer;
  background-color: #a5a8a3;

}
/* -- Pop up survey END -- */

/* -- Survey Form Start -- */

.survey-form {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 50px auto;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #a8a4a4;
  border-radius: 4px;
  box-sizing: border-box;
}

/* -- Survey Form End -- */     

/* -- Global -- */
.btn-primary{
  background-color: #6E7753;
  border-color: #697157;
}

.btn-primary:hover{
  background-color: #38422B;
}

/* -- Admin Controls -- */
.fixed-create-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px 20px;
  border-radius: 50%;
  background-color: #38422B; /* Adjust color as needed */
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 100; /* Ensure button is above other elements */
}

.create-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the form */
  background-color: white;
  border-radius: 10px; /* Adjust as needed */
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 101; /* Ensure form is above other elements */
  max-width: 500px; /* Optional: Set a maximum width */
}

/* -- End Admin Controls --*/

/* -- heroBanner -- */

.heroBanner{
  background-color: #38422B;
}