@keyframes typing {
    0% { margin-left: 0; width: 70px; }
    10% { border-left: 2px solid chartreuse; }
    98% { border-left: 2px solid chartreuse; }
    100% { margin-left: 35px; width: 0px; }
}


.navbar-brand {
    margin-right: 35px;
    font-size: 25px;
}

.navbar-brand::before {
    position: absolute;
    content: "";
    display: block;
    height: 35px; /* Adjust height if necessary */
    background-color: #38422B;
    animation: typing 0.6s steps(4) forwards; /* Adding delay after each iteration */
}

hr {
    padding: 1px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.488);
}

.heroBanner {
    position: relative;
    height: 70vh;
    width: 100%;
}

.semicircle {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%; /* Adjust based on desired coverage */
    height: 100%;
    background-color: black;
    border-top-left-radius: 15% 50%; /* Adjusting for slight curve */
    border-top-right-radius: 0;
    border-bottom-left-radius: 15% 50%;
    border-bottom-right-radius: 0;
    opacity: 0.7;
}

.typer {
    color: white;
}

.typer::before {
    position: absolute;
    content: "";
    display: block;
    height: 8%; /* Adjust height if necessary */
    background-color: rgb(164, 164, 164);
    animation: typing 3s steps(45) forwards;
}

/* btn btn-outline-success my-2 my-sm-0 <- old btn */
.searchComponent {
    padding: 0;
}

.searchBox {
    padding: 10px 15px 10px 15px;
    border: none;
    background-color: #F6F6DB;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: black;
    font-weight: 500;
}

.searchBtn {
    color: white;
    background-color: #9AA581;
    border: none;
    text-align: center;
    padding: 10px 15px 10px 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: none;
    cursor: pointer;
    transition: 0.5s;
}

.searchBtn:hover{
    border-radius: 1px;
    background-color: #697157;
    color: rgb(34, 184, 56);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* These are the nav-link's style */
li{
    padding: 4px 15px 4px 15px;
    transition: 0.5s;
    border-radius: 5px;
    margin: 5px 0px 5px 5px;
}

li:hover, .isActive {
    color: #CCD5C0;
    background-color:#6E7753;
    border-radius: 5px;
}

.indented-paragraph {
    text-indent: 20px; 
    font-family: 'Georgia, serif';
  }
  

  @keyframes titletyping {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  .titletyping-animation {
        overflow: hidden; 
        border-right: 2px transparent; 
        white-space: nowrap; 
        animation: titletyping 4s steps(20, end); 
  }
  
  