/* Navbar Logo Animations */
@keyframes typing {
    0% { margin-left: 0; width: 70px; }
    10% { border-left: 2px solid chartreuse; }
    98% { border-left: 2px solid chartreuse; }
    100% { margin-left: 35px; width: 0px; }
}

.navbar-brand {
    margin-right: 35px;
    font-size: 25px;
}

.navbar-brand::before {
    position: absolute;
    content: "";
    display: block;
    height: 35px; /* Adjust height if necessary */
    background-color: #38422B;
    animation: typing 0.6s steps(4) forwards; /* Adding delay after each iteration */
}

/* -- ANIMATION END -- */

/* Fancy Horizontal Bar */
hr {
    width: 50%;
    padding: 1px;
    border-radius: 5px;
    background-color: #697157;
    /*background-color: rgba(128, 128, 128, 0.488); <- old*/
}

/* Some future work
h1::after{
    content: "";
    justify-content: center;
    display: block;
    width: 100%;
    height: 3px;
    padding: 1px;
    border-radius: 5px;
    background-color: #697157;
}*/

/* Search Bar Styling */
.searchComponent {
    padding: 0;
}

.searchBox {
    padding: 10px 15px 10px 15px;
    border: none;
    background-color: #F6F6DB;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: black;
    font-weight: 500;
}

.searchBtn {
    color: white;
    background-color: #9AA581;
    border: none;
    text-align: center;
    padding: 10px 15px 10px 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: none;
    cursor: pointer;
    transition: 0.5s;
}

.searchBtn:hover{
    border-radius: 1px;
    background-color: #697157;
    color: rgb(34, 184, 56);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* -- END SEARCH BAR STYLING -- */

/* These are the nav-link's style */
li{
    padding: 4px 15px 4px 15px;
    transition: 0.5s;
    border-radius: 5px;
    margin: 5px 0px 5px 5px;
}

li:hover, .isActive {
    color: #CCD5C0;
    background-color:#6E7753;
    border-radius: 5px;
}
/* -- END NAV-LINKS STYLING */

/* CONTACT & ABOUT PAGE */
.indented-paragraph {
    text-indent: 20px; 
    font-family: 'Georgia, serif';
}

.contactInput {
    width: 100%;
    padding: 8px; /* Reduced padding */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px; /* Reduced margin */
    margin-bottom: 8px; /* Reduced margin */
    resize: vertical;
    font-size: 14px; /* Reduced font size */
  }

.submitButton {
    background-color: #9AA581;
    color: white;
    padding: 8px 16px; /* Correct syntax for padding */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; /* Correct syntax for font size */
}

.submitButton:hover {
    background-color: #697157; /* Correct syntax for hover background color */
}
/* -- END CONTACT PAGE STYLING -- */
  
/* Carousel Title Animation */
@keyframes titletyping {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.titletyping-animation {
    overflow: hidden;
    border-right: 2px transparent; 
    white-space: nowrap; 
    animation: titletyping 4s steps(60, end); 
}
/* -- END ANIMATION -- */

/* Card Stylings */

.card-resources{
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: rgba(106, 145, 46, 0.519);
}

.card-container {
    perspective: 1000px;
    position: relative;
    width: calc(33% - 20px); /* Adjust the width as needed */
    height: 360px; /* Adjust the height as needed */
    cursor: pointer;
    margin: 10px; /* Add margin to space out the cards */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}
  
  .cardR {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.8s;
    border-radius: 10px;
  }
  
  .card-front {
    background-color: #f0f0f0;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 0.6rem; /* Reduce font size for smaller screens */
    line-height: 1.3; /* Adjust line height for smaller screens */
    padding: 8px; /* Reduce padding for smaller screens */
  }
  
  .card-back {
    background-color: #d7e0d0;
    transform: rotateY(180deg);
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 0.6rem; /* Reduce font size for smaller screens */
    line-height: 1.5; /* Adjust line height for smaller screens */
    padding: 8px; /* Reduce padding for smaller screens */
    }

 @media only screen and (max-width: 768px) {
    .card-container {
      width: calc(50% - 20px); /* Adjust width for smaller screens */
    }
  
    .card-front,
    .card-back {
      display: flex; 
      justify-content: center;
      align-items: center;
      font-size: 0.6rem; /* Reduce font size for smaller screens */
      line-height: 1.3; /* Adjust line height for smaller screens */
      padding: 8px; /* Reduce padding for smaller screens */
    }
  }
  
  @media only screen and (max-width: 480px) {
    .card-container {
      width: calc(100% - 20px); /* Adjust width for even smaller screens */
    }
  
    .card-front,
    .card-back {
      display: flex; 
      justify-content: center;
      align-items: center;
      font-size: 0.57rem; /* Further reduce font size for very small screens */
      line-height: 1.2; /* Further adjust line height for very small screens */
      padding: 6px; /* Further reduce padding for very small screens */
    }
  }
  .card-container.flip .card-front {
    transform: rotateY(180deg);
  }
  
  .card-container.flip .card-back {
    transform: rotateY(0deg);
  }

  
/* -- END CARD STYLINGS -- */
  